body {
    color: #0e0e0e;
    font-family: sans-serif;
}

a, li {
    display: inline-block;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
}

.clsz {
    font-size: 0.8em;
    font-family: monospace;
}

ul {
    padding-left: 1em;
    margin-top: 0em;
}

h3 {
    padding-bottom: 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}